In [1]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
import pandas as pd
import math
iris = datasets.load_iris()
X = iris.data[:,[2,3]]
y = iris.target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [132]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)
previsto = lr.predict(X_test)

In [130]:
def retorna_valores():
    acurácia = 0
    soma_u = 0
    soma_v = 0
    prev = []
    for i in range(0, len(X_test)):
        R  = lr.coef_[0]*X_test[i][0]+ lr.coef_[1]*X_test[i][1] + lr.intercept_
        prev.append(R)
        u = (R - y_test[i])**2
        soma_u = soma_u + u
        v = (y_test[i]-y_test.mean())**2
        soma_v = soma_v + v
        Classe = int(round(R,0))
        if Classe==y_test[i]:
            acurácia = acurácia + 1
    acurácia = (acurácia)/len(X_test)
    coeficiente = 1-(soma_u/soma_v)
    return acurácia, coeficiente, prev

In [140]:
acurácia,coeficiente, prev = retorna_valores()
display(lr.score(X_test,y_test))
display(coeficiente)

0.9323822308465202

0.93238223084652

In [144]:
previsto = lr.predict(X_test)
(prev-previsto).sum()

0.0

In [102]:
acurácia = 0
for i in range(0, len(previsto)):
    Classe = int(round(previsto[i],0))
    if Classe==y_test[i]:
        acurácia = acurácia + 1
acurácia = (acurácia)/len(X_test)
acurácia

0.9555555555555556

In [103]:
df = pd.read_csv('callcenter_marketing.csv')
def muda_resultado(valor):
    if valor=='nao':
        return 0
    else:
        return 1
df.resultado = df.resultado.apply(muda_resultado)

In [150]:
import pandas as pd
from sklearn.model_selection import train_test_split
X = df[['idade','duracao']]
y = df.resultado
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [105]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)
previsto = lr.predict(X_test)
lr.score(X_test,y_test)

0.17624290396015208

In [154]:
X_test.reset_index(drop=True)

       idade  duracao
0         26      120
1         45      446
2         31      129
3         43       13
4         36     1120
5         36       49
6         31      166
7         50      332
8         64      427
9         29      666
10        26      407
11        37       71
12        30      101
13        31       73
14        52      143
15        50      281
16        40      319
17        60      314
18        32      255
19        31      204
20        36      132
21        31       73
22        40      142
23        36       52
24        40      154
25        55      262
26        38      217
27        32      100
28        39      339
29        39      123
...      ...      ...
12327     33      236
12328     29       99
12329     36      361
12330     42       77
12331     46       57
12332     43       20
12333     30       22
12334     61       99
12335     37       80
12336     29      289
12337     37      295
12338     40       94
12339     35      143
12340     50       58
12341     49      197
12342     32      182
12343     35      288
12344     36      112
12345     29      101
12346     43      347
12347     41       88
12348     59      464
12349     44      299
12350     47      182
12351     26       83
12352     34      164
12353     57       54
12354     38      156
12355     37      224
12356     31      249

[12357 rows x 2 columns]

In [158]:
X_test = X_test.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)

In [160]:
X_test.loc[0,['idade']]#[0]

idade    26
Name: 0, dtype: int64

In [120]:
def retorna_valores():
    acurácia = 0
    soma_u = 0
    soma_v = 0
    prev = []
    for i in range(0, len(X_test)):
        R  = lr.coef_[0]*X_test.loc[i,['idade']][0]+ lr.coef_[1]*X_test.loc[i,['duracao']][0] + lr.intercept_        
        prev.append(R)
        u = (R - y_test[i])**2
        Classe = int(round(R,0))
        #display(R)
        #display(Classe)
        #display(y_test[i])
        #display(R - y_test[i])
        #display(u)
        #display('============')
        soma_u = soma_u + u
        v = (y_test[i]-y_test.mean())**2
        soma_v = soma_v + v
        if Classe==y_test[i]:
            acurácia = acurácia + 1
    acurácia = (acurácia)/len(X_test)
    coeficiente = 1-(soma_u/soma_v)
    return acurácia, coeficiente, prev

In [121]:
acurácia,coeficiente, previsto = retorna_valores()
#X_test[i][0]

In [122]:
display(lr.score(X_test,y_test))
display(coeficiente)

0.17624290396015208

0.17624290396031594

In [123]:
p = lr.predict(X_test)
pr = pd.DataFrame(previsto-p)

In [128]:
round(pr.sum(),4)

0   -0.0
dtype: float64

In [83]:
d.sum()
#1-(u/v)

0    6.209395e+06
dtype: float64