<h4> Análise de Dados com Python <br> <b> Aula 3 <b> <h4>

<b><h5> Introdução ao Pandas I <h5><b>

In [2]:
#Importando a biblioteca
import pandas as pd

In [3]:
#Criando uma Series (Estrutura unidimensional(array))
idades = pd.Series([15,21,30,12,24,52])

In [5]:
#Exibindo a Series
idades

0    15
1    21
2    30
3    12
4    24
5    52
dtype: int64

In [9]:
#Podemos também dizer qual o índice queremos para a Series.
idades2 = pd.Series([15,21,30,12], index=["Joao", "Maria", "Ana", "Pedro"])
idades2

Joao     15
Maria    21
Ana      30
Pedro    12
dtype: int64

In [17]:
#Para confirmar os índices utilizamos:
idades2.index

Index(['Joao', 'Maria', 'Ana', 'Pedro'], dtype='object')

In [14]:
#Para obter apenas os valores:
idades2.values

array([15, 21, 30, 12], dtype=int64)

In [19]:
#Importando o numpy
import numpy as np

In [37]:
#Criando um DataFrame (Estrutura bidiomensional)
df1 = pd.DataFrame(np.array([[1,2,3],[7,8,9]]),columns=["a","b","c"])

In [38]:
#Exibindo o dataframe criado
df1

   a  b  c
0  1  2  3
1  7  8  9

In [26]:
#Usando dicionários
dados = {"valor1":[1,2], "valor2":[3,4], "valor3":[5,6]}
df2 = pd.DataFrame(data=dados)

In [27]:
#Exibindo o dataframe criado
df2

   valor1  valor2  valor3
0       1       3       5
1       2       4       6

In [28]:
#Usando dicionários e explicitando os índices
dados = {"valor1":[1,2], "valor2":[3,4], "valor3":[5,6]}
df3 = pd.DataFrame(data=dados, index=["a","b"])

In [29]:
#Exibindo o dataframe criado
df3

   valor1  valor2  valor3
a       1       3       5
b       2       4       6

In [30]:
#Exibindo valores do dataframe
df3.values

array([[1, 3, 5],
       [2, 4, 6]], dtype=int64)

In [31]:
#Exibindo index do dataframe
df3.index

Index(['a', 'b'], dtype='object')

In [33]:
#Obtendo o nome das colunas do dataframe
df3.columns

Index(['valor1', 'valor2', 'valor3'], dtype='object')

In [ ]:
#Lendo um arquivo 
df = pd.read_csv("bank-full.csv")

df = pd.read_table("bank-full.txt",delim_whitespace=True)

df = pd.read_excel("bank-full.xlsx", sheet_name = "Dados")

In [35]:
#Verificando o cabeçalho do dataframe
df.head()

   a  b  c
0  1  2  3
1  7  8  9

In [ ]:
#Verificando o final do dataframe
df.tail()

In [ ]:
#Modificando todos os nomes das colunas
df.columns = ["idade", "job", "estado civil", "educacao", "default","balance","housing", "emprestimo", 
              "contato", "dia", "mes", "duracao", "campanha", "pdays", "previous", "poutcame"]

In [ ]:
#Modificando apenas colunas especificas
df.rename(colums={"idade" = "Idade", "job": "Profissao", inplace=True})

In [ ]:
#Manipulando o dataframe -> Info - Verifica os tipos das variáveis e se há valores nulos/faltantes
df.info()

In [ ]:
#Manipulando o dataframe -> Describe - Exibe as estatísticas básicas dos dados numérico
df.describe()

In [ ]:
#Describe com variáveis categóricas
df.describe(include=["O"])

In [ ]:
#Describe com todos os tipos de variáveis (categóricas e numéricas)
df.describe(include="all")

# Atividades
Colocar as respostas em um arquivo a parte?

In [ ]:
#Selecionando apenas uma coluna
df["Idade"]

In [ ]:
#ou
df.Idade

In [ ]:
#Selecionando mais de uma coluna com uma lista de variáveis
df["Idade", "dia", "Profissao"]

In [ ]:
#Iloc - Seleção através dos índices
df.iloc[[1]]

In [ ]:
#Seleção de apenas uma linha com o iloc
df.iloc[[-3]]

In [ ]:
#Seleção um fatiamento de linhas com o iloc
df.iloc[1:3]

In [ ]:
#Seleção de apenas uma coluna com o iloc
df.iloc[:,1]

In [ ]:
#Seleção de um fatiamento de colunas com o iloc
df.iloc[:,1:3]

In [ ]:
#Seleção de uma linha e um fatiamento de colunas com o iloc
df.iloc[1,0:3]

In [ ]:
#Seleção de um fatiamento de linhas e colunas
df.iloc[0:2,0:3]

In [ ]:
#Seleção de um array e um fatiamento de colunas
df.iloc[[0,5,8],0:3]

In [ ]:
#loc - Seleção baseadas nos nomes das variáveis
df.loc[[1]]

In [ ]:
#Selecionando uma lista de linhas com o loc
df.loc[[0,1,2]]

In [ ]:
#Selecionando uma fatia de linhas com o loc
df.loc[0:2]

In [ ]:
#Selecionando uma lista de linhas e colunas com o loc
df.loc[[0,1],["Idade", "Profissao", "default"]]

In [ ]:
#Selecionando uma fatia de linhas e uma lista de colunas com o loc
df.loc[[0:2],["Idade", "Profissao", "default"]]

In [ ]:
#Selecionando com uma base em uma condição com o loc
df.loc(df.Idade > 55)

In [ ]:
#Selecionando com uma base em mais de uma condição com o loc
df.loc[(df.Idade > 55) & (df.Profissao == "technician")]