<h3> Resolução Atividade 1 </h3>

------------

In [2]:
#Importação das bibliotecas necessárias
import pandas as pd

In [44]:
#Abrindo o arquivo
df = pd.read_csv("world_happiness_report_2015.csv")

In [45]:
#Aula passada - Para manter os mesmos nomes de colunas
df.rename(columns={"happiness rank":"rank_felicidade","happiness score":"score_felicidade","standard error":"stand_error",
                      "economy (GDP per Capita)":"PIB","health (Life Expectancy)":"expect_vida",
                      "trust (Government Corruption)":"corrupcao"}, inplace=True)

In [8]:
#Média do score_felicidade
df.score_felicidade.mean()

5.424487179487181

In [9]:
#Soma do PIB
df.PIB.sum()

141.37172

In [11]:
#Soma do freedom
df.freedom.sum()

71.3332

In [12]:
#Soma corrupcao
df.corrupcao.sum()

24.596449999999997

In [15]:
#Verificando dados faltantes e quais são.
df.isna().sum()

country               0
region                0
rank_felicidade       0
score_felicidade      8
stand_error           1
PIB                   0
family                0
expect_vida           0
freedom               0
corrupcao             0
generosity            0
dystopia residual    14
dtype: int64

In [14]:
#Verificando quantidade de dados faltantes
df.duplicated().sum()

6

In [46]:
#Novo dataframe com dados faltantes substituidos pot -9999
df2 = df.fillna({"score_felicidade":-9999})

In [18]:
df2.head()

,country,region,rank_felicidade,score_felicidade,stand_error,PIB,family,expect_vida,freedom,corrupcao,generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [19]:
#Verificando quantas regiões temos na base
df.region.nunique()

10

In [20]:
#Verificando quais regiões temos na base
df.region.unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia'], dtype=object)

In [21]:
#Verificando a frequência dos dados
df.region.value_counts()

Sub-Saharan Africa                 40
Central and Eastern Europe         29
Western Europe                     24
Latin America and Caribbean        23
Middle East and Northern Africa    21
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       3
Australia and New Zealand           2
Name: region, dtype: int64

---------------------

<h3> Resolução Atividade 2 </h3>

-------------------------

In [43]:
#Importando as bases
df_a = pd.read_csv("nba_2015_a.csv")
df_b = pd.read_csv("nba_2015_b.csv")
df_c = pd.read_csv("nba_2015_c.csv")
df_d = pd.read_csv("nba_2015_d.csv")
bust = pd.read_csv("bust_nba_2015.csv")

In [25]:
#Cabeçalho do df_a
df_a.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player
0,Karl-Anthony Towns,C,karl-anthony-towns,2015,1.030606,0.134767,0.427183,0.163083
1,Justise Winslow,SF,justise-winslow,2015,0.875329,0.083529,0.510905,0.176767
2,Stanley Johnson,SF,stanley-johnson,2015,0.679493,0.067800,0.423733,0.278500
3,Jahlil Okafor,C,jahlil-okafor,2015,0.521661,0.058717,0.409900,0.235533
4,D`Angelo Russell,PG,d-angelo-russell,2015,0.511967,0.152033,0.342283,0.096583

In [26]:
#Cabeçalho do df_b
df_b.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player
0,Austin Rivers,SG,austin-rivers,2012,-0.145824,0.036233,0.268867,0.334098
1,Royce White,SF,royce-white,2012,-0.193490,0.018400,0.243750,0.357367
2,Damian Lillard,PG,damian-lillard,2012,-0.200562,0.036314,0.259300,0.273522
3,Tony Wroten,PG,tony-wroten,2012,-0.245215,0.021567,0.280567,0.286900
4,Doron Lamb,SG,doron-lamb,2012,-0.281442,0.004280,0.208319,0.439637

In [27]:
#Cabeçalho do df_c
df_c.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player
0,Mustafa Shakur,PG,mustafa-shakur,2007,-1.304224,0.000728,0.027577,0.328555
1,Jermareo Davidson,PF,jermareo-davidson,2007,-1.305091,0.000098,0.028128,0.348323
2,Ekene Ibekwe,PF,ekene-ibekwe,2007,-1.313002,0.000349,0.018529,0.334192
3,Cartier Martin,SF,cartier-martin,2007,-1.315787,0.000206,0.017471,0.363321
4,Ivan Radenovic,PF,ivan-radenovic,2007,-1.327384,0.000090,0.026357,0.341746

In [28]:
#Cabeçalho do df_d
df_d.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player
0,Samardo Samuels,PF,samardo-samuels,2010.0,-1.097613,0.001910,0.067415,0.355177
1,Larry Sanders,PF,larry-sanders,2010.0,-1.099703,0.001010,0.067939,0.356190
2,Jeremy Evans,SF,jeremy-evans,2010.0,-1.111429,0.000000,0.050159,0.397297
3,Stanley Robinson,SF,stanley-robinson,2010.0,-1.116975,0.000145,0.061203,0.385924
4,Jerome Randle,PG,jerome-randle,2010.0,-1.146297,0.000000,0.044072,0.384182

In [30]:
#Cabeçalho do bust
bust.head()

                   ID      Bust
0  karl-anthony-towns  0.274967
1     justise-winslow  0.228800
2     stanley-johnson  0.229967
3       jahlil-okafor  0.295850
4    d-angelo-russell  0.409100

In [31]:
#Concatenando os dataframes a, b e c
df_total = pd.concat([df_a, df_b,df_c, df_d])

In [32]:
df_total.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player
0,Karl-Anthony Towns,C,karl-anthony-towns,2015.0,1.030606,0.134767,0.427183,0.163083
1,Justise Winslow,SF,justise-winslow,2015.0,0.875329,0.083529,0.510905,0.176767
2,Stanley Johnson,SF,stanley-johnson,2015.0,0.679493,0.067800,0.423733,0.278500
3,Jahlil Okafor,C,jahlil-okafor,2015.0,0.521661,0.058717,0.409900,0.235533
4,D`Angelo Russell,PG,d-angelo-russell,2015.0,0.511967,0.152033,0.342283,0.096583

In [42]:
#Merge entre o df_total e o bust
df_bust_total = pd.merge(df_total,bust, on="ID")

In [36]:
df_bust_total.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player,Bust
0,Karl-Anthony Towns,C,karl-anthony-towns,2015.0,1.030606,0.134767,0.427183,0.163083,0.274967
1,Justise Winslow,SF,justise-winslow,2015.0,0.875329,0.083529,0.510905,0.176767,0.228800
2,Stanley Johnson,SF,stanley-johnson,2015.0,0.679493,0.067800,0.423733,0.278500,0.229967
3,Jahlil Okafor,C,jahlil-okafor,2015.0,0.521661,0.058717,0.409900,0.235533,0.295850
4,D`Angelo Russell,PG,d-angelo-russell,2015.0,0.511967,0.152033,0.342283,0.096583,0.409100

In [41]:
#Exemplo de um parâmetro novo (escolha do join)
df_teste2 = pd.merge(df_total,bust, on="ID", how="right")

--------------------------
<h3> Resolução Atividade 3 </h3>

---------------

In [40]:
#Abrindo o arquivo
pref = pd.read_csv("preferencias.csv")

In [47]:
#Visualizando o arquivo
pref.head()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F

In [49]:
#Agrupando pela variável Gender
pref.groupby("Gender")

In [50]:
pref.groupby("Gender").groups

{'F': Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
             17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32],
            dtype='int64'),
 'M': Int64Index([33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
             50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65],
            dtype='int64')}

In [52]:
#Contando os itens da variável
pref.groupby("Gender").count()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink
Gender,,,,
F,33,33,33,33
M,33,33,33,33

In [53]:
#Agrupando os dados pelas variáveis Gender e Favorite Color
pref.groupby(["Gender","Favorite Color"]).groups

{('F',
  'Cool'): Int64Index([0, 4, 6, 10, 14, 16, 17, 18, 19, 20, 22, 24, 26, 27, 28, 29, 32], dtype='int64'),
 ('F', 'Neutral'): Int64Index([1, 9, 31], dtype='int64'),
 ('F',
  'Warm'): Int64Index([2, 3, 5, 7, 8, 11, 12, 13, 15, 21, 23, 25, 30], dtype='int64'),
 ('M',
  'Cool'): Int64Index([37, 38, 40, 43, 44, 45, 46, 47, 48, 50, 51, 52, 54, 55, 59, 60, 61,
             62, 64, 65],
            dtype='int64'),
 ('M', 'Neutral'): Int64Index([34, 36, 41, 63], dtype='int64'),
 ('M',
  'Warm'): Int64Index([33, 35, 39, 42, 49, 53, 56, 57, 58], dtype='int64')}

In [55]:
#17 mulheres possuem a cor favorita cool
pref.groupby(["Gender","Favorite Color"]).count()

                       Favorite Music Genre  Favorite Beverage  \
Gender Favorite Color
F      Cool                              17                 17
       Neutral                            3                  3
       Warm                              13                 13
M      Cool                              20                 20
       Neutral                            4                  4
       Warm                               9                  9

                       Favorite Soft Drink
Gender Favorite Color
F      Cool                             17
       Neutral                           3
       Warm                             13
M      Cool                             20
       Neutral                           4
       Warm                              9

In [56]:
#Agrupando pelas variáveis solicitadas
pref.groupby(["Gender","Favorite Color","Favorite Beverage"]).groups

{('F', 'Cool', 'Beer'): Int64Index([6, 14, 20, 26, 32], dtype='int64'),
 ('F', 'Cool', "Doesn't drink"): Int64Index([19, 27, 28, 29], dtype='int64'),
 ('F', 'Cool', 'Other'): Int64Index([10, 17, 18], dtype='int64'),
 ('F', 'Cool', 'Vodka'): Int64Index([0, 4, 22], dtype='int64'),
 ('F', 'Cool', 'Whiskey'): Int64Index([24], dtype='int64'),
 ('F', 'Cool', 'Wine'): Int64Index([16], dtype='int64'),
 ('F', 'Neutral', 'Beer'): Int64Index([31], dtype='int64'),
 ('F', 'Neutral', 'Vodka'): Int64Index([1], dtype='int64'),
 ('F', 'Neutral', 'Wine'): Int64Index([9], dtype='int64'),
 ('F', 'Warm', "Doesn't drink"): Int64Index([5], dtype='int64'),
 ('F', 'Warm', 'Other'): Int64Index([8, 11, 23, 30], dtype='int64'),
 ('F', 'Warm', 'Whiskey'): Int64Index([3, 7, 21, 25], dtype='int64'),
 ('F', 'Warm', 'Wine'): Int64Index([2, 12, 13, 15], dtype='int64'),
 ('M', 'Cool', 'Beer'): Int64Index([44, 45, 62, 65], dtype='int64'),
 ('M',
  'Cool',
  "Doesn't drink"): Int64Index([48, 50, 51, 52, 54], dtype='int64'),
 ('M', 'Cool', 'Other'): Int64Index([37, 55], dtype='int64'),
 ('M', 'Cool', 'Vodka'): Int64Index([40, 61], dtype='int64'),
 ('M', 'Cool', 'Whiskey'): Int64Index([38, 47, 59, 60], dtype='int64'),
 ('M', 'Cool', 'Wine'): Int64Index([43, 46, 64], dtype='int64'),
 ('M', 'Neutral', 'Beer'): Int64Index([34], dtype='int64'),
 ('M', 'Neutral', "Doesn't drink"): Int64Index([36, 41, 63], dtype='int64'),
 ('M', 'Warm', 'Beer'): Int64Index([49, 53], dtype='int64'),
 ('M', 'Warm', "Doesn't drink"): Int64Index([42], dtype='int64'),
 ('M', 'Warm', 'Other'): Int64Index([35, 56], dtype='int64'),
 ('M', 'Warm', 'Vodka'): Int64Index([39, 57, 58], dtype='int64'),
 ('M', 'Warm', 'Wine'): Int64Index([33], dtype='int64')}