<h3> Resolução Atividade 1 </h3>

------------

In [1]:
#Importação das bibliotecas necessárias
import pandas as pd

In [2]:
#Abrindo o arquivo
df = pd.read_csv("world_happiness_report_2015.csv")

In [3]:
#Aula passada - Para manter os mesmos nomes de colunas
df.rename(columns={"happiness rank":"rank_felicidade","happiness score":"score_felicidade","standard error":"stand_error",
                      "economy (GDP per Capita)":"PIB","health (Life Expectancy)":"expect_vida",
                      "trust (Government Corruption)":"corrupcao"}, inplace=True)

In [4]:
#Média do score_felicidade
df.score_felicidade.mean()

5.424487179487181

In [5]:
#Soma do PIB
df.PIB.sum()

141.37172

In [6]:
#Soma do freedom
df.freedom.sum()

71.3332

In [7]:
#Soma corrupcao
df.corrupcao.sum()

24.596449999999997

In [15]:
#Verificando dados faltantes e quais são.
df.isna().sum()

country               0
region                0
rank_felicidade       0
score_felicidade      8
stand_error           1
PIB                   0
family                0
expect_vida           0
freedom               0
corrupcao             0
generosity            0
dystopia residual    14
dtype: int64

In [9]:
#Verificando quantidade de dados faltantes
df.duplicated().sum()
df[df.duplicated()]

In [10]:
df.isnull().sum()

country               0
region                0
rank_felicidade       0
score_felicidade      8
stand_error           1
PIB                   0
family                0
expect_vida           0
freedom               0
corrupcao             0
generosity            0
dystopia residual    14
dtype: int64

In [27]:
#Novo dataframe com dados faltantes substituidos pot -9999
df2 = df.fillna({"score_felicidade":-9999})

In [32]:
#df[pd.isnull(df.score_felicidade)].index
lista_nulos_df = df[pd.isnull(df.score_felicidade)].index
df2.iloc[lista_nulos_df]

,country,region,rank_felicidade,score_felicidade,stand_error,PIB,family,expect_vida,freedom,corrupcao,generosity,dystopia residual
38,Colombia,Latin America and Caribbean,33,-9999.0,0.05051,0.91861,1.24018,0.69077,0.53466,0.05120,0.18401,2.85737
42,Malta,Western Europe,37,-9999.0,0.04206,1.20740,1.30203,0.88721,0.60365,0.13586,0.51752,1.64880
46,Trinidad and Tobago,Latin America and Caribbean,41,-9999.0,0.10895,1.21183,1.18354,0.61483,0.55884,0.01140,0.31844,NaN
58,Paraguay,Latin America and Caribbean,53,-9999.0,0.04563,0.75985,1.30477,0.66098,0.53899,0.08242,0.34240,2.18896
61,Lithuania,Central and Eastern Europe,56,-9999.0,0.03843,1.14723,1.25745,0.73128,0.21342,0.01031,0.02641,2.44649
63,Peru,Latin America and Caribbean,58,-9999.0,0.04615,0.90019,0.97459,0.73017,0.41496,0.05989,0.14982,2.59450
143,Mali,Sub-Saharan Africa,138,-9999.0,0.05602,0.26074,1.03526,0.20583,0.38857,0.12352,0.18798,1.79293
156,Ivory Coast,Sub-Saharan Africa,151,-9999.0,0.05141,0.46534,0.77115,0.15185,0.46866,0.17922,0.20165,1.41723

In [33]:
#Verificando quantas regiões temos na base
df.region.nunique()

10

In [34]:
#Verificando quais regiões temos na base
df.region.unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia'], dtype=object)

In [41]:
#Verificando a frequência dos dados
display(df.region.value_counts())
maior_quantidade = df.region.value_counts().index[0]
menor_quantidade = df.region.value_counts().index[-1]
print("A região com a maior quantidade de dados é",maior_quantidade," e a região com a menor quantidade é",menor_quantidade)

Sub-Saharan Africa                 40
Central and Eastern Europe         29
Western Europe                     24
Latin America and Caribbean        23
Middle East and Northern Africa    21
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       3
Australia and New Zealand           2
Name: region, dtype: int64

A região com a maior quantidade de dados é Sub-Saharan Africa  e a região com a menor quantidade é Australia and New Zealand

In [42]:
df

,country,region,rank_felicidade,score_felicidade,stand_error,PIB,family,expect_vida,freedom,corrupcao,generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646
10,Israel,Middle East and Northern Africa,11,7.278,0.03470,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854
11,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
12,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
13,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
14,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
15,Costa Rica,Latin America and Caribbean,12,7.226,0.04454,0.95578,1.23788,0.86027,0.63376,0.10583,0.25497,3.17728
16,Austria,Western Europe,13,7.200,0.03751,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088,2.53320
17,Mexico,Latin America and Caribbean,14,7.187,0.04176,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074,3.60214
18,United States,North America,15,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2.51011
19,Brazil,Latin America and Caribbean,16,6.983,0.04076,0.98124,1.23287,0.69702,0.49049,0.17521,0.14574,3.26001
20,Luxembourg,Western Europe,17,6.946,0.03499,1.56391,1.21963,0.91894,0.61583,0.37798,0.28034,1.96961
21,Ireland,Western Europe,18,6.940,0.03676,1.33596,1.36948,0.89533,0.61777,0.28703,0.45901,1.97570
22,Belgium,Western Europe,19,6.937,0.03595,1.30782,1.28566,0.89667,0.58450,0.22540,0.22250,2.41484
23,United Arab Emirates,Middle East and Northern Africa,20,6.901,0.03729,1.42727,1.12575,0.80925,0.64157,0.38583,0.26428,2.24743
24,United Kingdom,Western Europe,21,6.867,0.01866,1.26637,1.28548,0.90943,0.59625,0.32067,0.51912,1.96994
25,Oman,Middle East and Northern Africa,22,6.853,0.05335,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2.47489
26,Venezuela,Latin America and Caribbean,23,6.810,0.06476,1.04424,1.25596,0.72052,0.42908,0.11069,0.05841,3.19131
27,Singapore,Southeastern Asia,24,6.798,0.03780,1.52186,1.02000,1.02525,0.54252,0.49210,0.31105,1.88501
28,Panama,Latin America and Caribbean,25,6.786,0.04910,1.06353,1.19850,0.79661,0.54210,0.09270,0.24434,2.84848
29,Germany,Western Europe,26,6.750,0.01848,1.32792,1.29937,0.89186,0.61477,0.21843,0.28214,2.11569
...,...,...,...,...,...,...,...,...,...,...,...,...
134,Myanmar,Southeastern Asia,129,4.307,0.04351,0.27108,0.70905,0.48246,0.44017,0.19034,0.79588,1.41805
135,Georgia,Central and Eastern Europe,130,4.297,0.04221,0.74190,0.38562,0.72926,0.40577,0.38331,0.05547,1.59541
136,Malawi,Sub-Saharan Africa,131,4.292,0.06130,0.01604,0.41134,0.22562,0.43054,0.06977,0.33128,2.80791
137,Sri Lanka,Southern Asia,132,4.271,0.03751,0.83524,1.01905,0.70806,0.53726,0.09179,0.40828,0.67108
138,Cameroon,Sub-Saharan Africa,133,2.000,0.04678,0.42250,0.88767,0.23402,0.49309,0.05786,0.20618,1.95071
139,Bulgaria,Central and Eastern Europe,134,4.218,0.04828,1.01216,1.10614,0.76649,0.30587,0.00872,0.11921,0.89991
140,Egypt,Middle East and Northern Africa,135,4.194,0.03260,0.88180,0.74700,0.61712,0.17288,0.06324,0.11291,1.59927
141,Yemen,Middle East and Northern Africa,136,4.077,0.04367,0.54649,0.68093,0.40064,0.35571,0.07854,0.09131,1.92313
142,Angola,Sub-Saharan Africa,137,4.033,0.04758,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939
143,Mali,Sub-Saharan Africa,138,NaN,0.05602,0.26074,1.03526,0.20583,0.38857,0.12352,0.18798,1.79293
144,Congo (Brazzaville),Sub-Saharan Africa,139,3.989,0.06682,0.67866,0.66290,0.31051,0.41466,0.11686,0.12388,1.68135
145,Comoros,Sub-Saharan Africa,140,3.956,0.04797,0.23906,0.79273,0.36315,0.22917,0.19900,0.17441,1.95812
146,Uganda,Sub-Saharan Africa,141,3.931,0.04317,0.21102,1.13299,0.33861,0.45727,0.07267,0.29066,1.42766
147,Senegal,Sub-Saharan Africa,142,3.904,0.03608,0.36498,0.97619,0.43540,0.36772,0.10713,0.20843,1.44395
148,Gabon,Sub-Saharan Africa,143,3.896,0.04547,1.06024,0.90528,0.43372,0.31914,0.11091,0.06822,0.99895
149,Niger,Sub-Saharan Africa,144,3.845,0.03602,0.06940,0.77265,0.29707,0.47692,0.15639,0.19387,1.87877
150,Cambodia,Southeastern Asia,145,3.819,0.05069,0.46038,0.62736,0.61114,0.66246,0.07247,0.40359,0.98195
151,Tanzania,Sub-Saharan Africa,146,3.781,0.05061,0.28520,1.00268,0.38215,0.32878,0.05747,0.34377,1.38079
152,Madagascar,Sub-Saharan Africa,147,3.681,0.03633,0.20824,0.66801,0.46721,0.19184,0.08124,0.21333,1.85100
153,Central African Republic,Sub-Saharan Africa,148,3.678,0.06112,0.07850,0.00000,0.06699,0.48879,0.08289,0.23835,2.72230
154,Chad,Sub-Saharan Africa,149,3.667,0.03830,0.34193,0.76062,0.15010,0.23501,0.05269,0.18386,NaN
155,Guinea,Sub-Saharan Africa,150,3.656,0.03590,0.17417,0.46475,0.24009,0.37725,0.12139,0.28657,1.99172
156,Ivory Coast,Sub-Saharan Africa,151,NaN,0.05141,0.46534,0.77115,0.15185,0.46866,0.17922,0.20165,1.41723
157,Burkina Faso,Sub-Saharan Africa,152,3.587,0.04324,0.25812,0.85188,0.27125,0.39493,0.12832,0.21747,1.46494
158,Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210
159,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
160,Benin,Sub-Saharan Africa,155,3.340,NaN,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,NaN
161,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
162,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,NaN
163,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,NaN

---------------------

<h3> Resolução Atividade 2 </h3>

-------------------------

In [43]:
#Importando as bases
df_a = pd.read_csv("nba_2015_a.csv")
df_b = pd.read_csv("nba_2015_b.csv")
df_c = pd.read_csv("nba_2015_c.csv")
df_d = pd.read_csv("nba_2015_d.csv")
bust = pd.read_csv("bust_nba_2015.csv")

In [44]:
#Cabeçalho do df_a
df_a.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player
0,Karl-Anthony Towns,C,karl-anthony-towns,2015,1.030606,0.134767,0.427183,0.163083
1,Justise Winslow,SF,justise-winslow,2015,0.875329,0.083529,0.510905,0.176767
2,Stanley Johnson,SF,stanley-johnson,2015,0.679493,0.067800,0.423733,0.278500
3,Jahlil Okafor,C,jahlil-okafor,2015,0.521661,0.058717,0.409900,0.235533
4,D`Angelo Russell,PG,d-angelo-russell,2015,0.511967,0.152033,0.342283,0.096583

In [45]:
#Cabeçalho do df_b
df_b.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player
0,Austin Rivers,SG,austin-rivers,2012,-0.145824,0.036233,0.268867,0.334098
1,Royce White,SF,royce-white,2012,-0.193490,0.018400,0.243750,0.357367
2,Damian Lillard,PG,damian-lillard,2012,-0.200562,0.036314,0.259300,0.273522
3,Tony Wroten,PG,tony-wroten,2012,-0.245215,0.021567,0.280567,0.286900
4,Doron Lamb,SG,doron-lamb,2012,-0.281442,0.004280,0.208319,0.439637

In [46]:
#Cabeçalho do df_c
df_c.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player
0,Mustafa Shakur,PG,mustafa-shakur,2007,-1.304224,0.000728,0.027577,0.328555
1,Jermareo Davidson,PF,jermareo-davidson,2007,-1.305091,0.000098,0.028128,0.348323
2,Ekene Ibekwe,PF,ekene-ibekwe,2007,-1.313002,0.000349,0.018529,0.334192
3,Cartier Martin,SF,cartier-martin,2007,-1.315787,0.000206,0.017471,0.363321
4,Ivan Radenovic,PF,ivan-radenovic,2007,-1.327384,0.000090,0.026357,0.341746

In [47]:
#Cabeçalho do df_d
df_d.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player
0,Samardo Samuels,PF,samardo-samuels,2010.0,-1.097613,0.001910,0.067415,0.355177
1,Larry Sanders,PF,larry-sanders,2010.0,-1.099703,0.001010,0.067939,0.356190
2,Jeremy Evans,SF,jeremy-evans,2010.0,-1.111429,0.000000,0.050159,0.397297
3,Stanley Robinson,SF,stanley-robinson,2010.0,-1.116975,0.000145,0.061203,0.385924
4,Jerome Randle,PG,jerome-randle,2010.0,-1.146297,0.000000,0.044072,0.384182

In [48]:
#Cabeçalho do bust
bust.head()

                   ID      Bust
0  karl-anthony-towns  0.274967
1     justise-winslow  0.228800
2     stanley-johnson  0.229967
3       jahlil-okafor  0.295850
4    d-angelo-russell  0.409100

In [67]:
#Concatenando os dataframes a, b e c
lista_nomes = ['a','b','c','d']
df_total = pd.DataFrame()
for l in lista_nomes:
    df_temp = df_b = pd.read_csv("nba_2015_"+l+".csv")
    df_total = pd.concat([df_total,df_temp])

In [32]:
df_total.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player
0,Karl-Anthony Towns,C,karl-anthony-towns,2015.0,1.030606,0.134767,0.427183,0.163083
1,Justise Winslow,SF,justise-winslow,2015.0,0.875329,0.083529,0.510905,0.176767
2,Stanley Johnson,SF,stanley-johnson,2015.0,0.679493,0.067800,0.423733,0.278500
3,Jahlil Okafor,C,jahlil-okafor,2015.0,0.521661,0.058717,0.409900,0.235533
4,D`Angelo Russell,PG,d-angelo-russell,2015.0,0.511967,0.152033,0.342283,0.096583

In [42]:
#Merge entre o df_total e o bust
df_bust_total = pd.merge(df_total,bust, on="ID")

In [36]:
df_bust_total.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player,Bust
0,Karl-Anthony Towns,C,karl-anthony-towns,2015.0,1.030606,0.134767,0.427183,0.163083,0.274967
1,Justise Winslow,SF,justise-winslow,2015.0,0.875329,0.083529,0.510905,0.176767,0.228800
2,Stanley Johnson,SF,stanley-johnson,2015.0,0.679493,0.067800,0.423733,0.278500,0.229967
3,Jahlil Okafor,C,jahlil-okafor,2015.0,0.521661,0.058717,0.409900,0.235533,0.295850
4,D`Angelo Russell,PG,d-angelo-russell,2015.0,0.511967,0.152033,0.342283,0.096583,0.409100

In [59]:
#Exemplo de um parâmetro novo (escolha do join)
df_teste2 = pd.merge(df_total,bust, on="ID", how="inner")

--------------------------
<h3> Resolução Atividade 3 </h3>

---------------

In [70]:
#Abrindo o arquivo
pref = pd.read_csv("preferencias.csv")

In [71]:
#Visualizando o arquivo
pref.head()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F

In [72]:
#Agrupando pela variável Gender
pref.groupby("Gender")

In [50]:
pref.groupby("Gender").groups

{'F': Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
             17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32],
            dtype='int64'),
 'M': Int64Index([33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
             50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65],
            dtype='int64')}

In [73]:
#Contando os itens da variável
pref.groupby("Gender").count()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink
Gender,,,,
F,33,33,33,33
M,33,33,33,33

In [53]:
#Agrupando os dados pelas variáveis Gender e Favorite Color
pref.groupby(["Gender","Favorite Color"]).groups

{('F',
  'Cool'): Int64Index([0, 4, 6, 10, 14, 16, 17, 18, 19, 20, 22, 24, 26, 27, 28, 29, 32], dtype='int64'),
 ('F', 'Neutral'): Int64Index([1, 9, 31], dtype='int64'),
 ('F',
  'Warm'): Int64Index([2, 3, 5, 7, 8, 11, 12, 13, 15, 21, 23, 25, 30], dtype='int64'),
 ('M',
  'Cool'): Int64Index([37, 38, 40, 43, 44, 45, 46, 47, 48, 50, 51, 52, 54, 55, 59, 60, 61,
             62, 64, 65],
            dtype='int64'),
 ('M', 'Neutral'): Int64Index([34, 36, 41, 63], dtype='int64'),
 ('M',
  'Warm'): Int64Index([33, 35, 39, 42, 49, 53, 56, 57, 58], dtype='int64')}

In [74]:
#17 mulheres possuem a cor favorita cool
pref.groupby(["Gender","Favorite Color"]).count()

                       Favorite Music Genre  Favorite Beverage  \
Gender Favorite Color
F      Cool                              17                 17
       Neutral                            3                  3
       Warm                              13                 13
M      Cool                              20                 20
       Neutral                            4                  4
       Warm                               9                  9

                       Favorite Soft Drink
Gender Favorite Color
F      Cool                             17
       Neutral                           3
       Warm                             13
M      Cool                             20
       Neutral                           4
       Warm                              9

In [75]:
#Agrupando pelas variáveis solicitadas
pref.groupby(["Gender","Favorite Color","Favorite Beverage"]).count()

                                         Favorite Music Genre  \
Gender Favorite Color Favorite Beverage
F      Cool           Beer                                  5
                      Doesn't drink                         4
                      Other                                 3
                      Vodka                                 3
                      Whiskey                               1
                      Wine                                  1
       Neutral        Beer                                  1
                      Vodka                                 1
                      Wine                                  1
       Warm           Doesn't drink                         1
                      Other                                 4
                      Whiskey                               4
                      Wine                                  4
M      Cool           Beer                                  4
                      Doesn't drink                         5
                      Other                                 2
                      Vodka                                 2
                      Whiskey                               4
                      Wine                                  3
       Neutral        Beer                                  1
                      Doesn't drink                         3
       Warm           Beer                                  2
                      Doesn't drink                         1
                      Other                                 2
                      Vodka                                 3
                      Wine                                  1

                                         Favorite Soft Drink
Gender Favorite Color Favorite Beverage
F      Cool           Beer                                 5
                      Doesn't drink                        4
                      Other                                3
                      Vodka                                3
                      Whiskey                              1
                      Wine                                 1
       Neutral        Beer                                 1
                      Vodka                                1
                      Wine                                 1
       Warm           Doesn't drink                        1
                      Other                                4
                      Whiskey                              4
                      Wine                                 4
M      Cool           Beer                                 4
                      Doesn't drink                        5
                      Other                                2
                      Vodka                                2
                      Whiskey                              4
                      Wine                                 3
       Neutral        Beer                                 1
                      Doesn't drink                        3
       Warm           Beer                                 2
                      Doesn't drink                        1
                      Other                                2
                      Vodka                                3
                      Wine                                 1